<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.shopping">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShoppingList"
            android:label="ShoppingList"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".Login"
            android:label="Login"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".QuartzyItem"
            android:label="QuartzyItem"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".FavoritesList"
            android:label="FavoritesList"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".QuartzySearch"
            android:label="QuartzySearch"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".SearchResults"
            android:label="SearchResults"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".SignIn"
            android:label="SignIn"
            android:parentActivityName=".MainActivity" >
        </activity>

    </application>

</manifest>